.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(135deg, #3b0764, #581c87);
}

.login-box {
	background-color: rgba(30, 27, 75, 0.6);
	padding: 40px;
	border-radius: 16px;
	width: 400px;
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
	text-align: center;
	color: white;
}

.avatar {
	width: 80px;
	height: 80px;
	margin: 0 auto 20px auto;
	background-color: #9333ea;
	border-radius: 50%;
	background-image: url("https://cdn-icons-png.flaticon.com/512/847/847969.png");
	background-size: 60%;
	background-position: center;
	background-repeat: no-repeat;
}

h2 {
	margin-bottom: 24px;
	color: #f3e8ff;
}

.input-group {
	margin-bottom: 20px;
	text-align: left;
}

.input-group label {
	display: block;
	font-weight: 500;
	margin-bottom: 6px;
	color: #c4b5fd;
}

.input-group input {
	width: 100%;
	padding: 10px;
	border: 1px solid #9333ea;
	border-radius: 6px;
	font-size: 16px;
	background-color: #faf5ff;
	color: #1e1b4b;
}

.button-group button {
	margin: 10px 5px 0 5px;
	padding: 10px 20px;
	font-size: 15px;
	border: none;
	border-radius: 6px;
	background-color: #9333ea;
	color: white;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button-group button:hover {
	background-color: #7e22ce;
}

.error-message {
	padding: 0;
	text-shadow: 0 0 10px black;
	height: 20px;
	visibility: hidden;
	color: rgba(255, 0, 80, 0.8);
	margin-top: 20px;
	margin-bottom: 0;
	font-size: 14px;
	text-align: center;
}

.error-message.visible {
	visibility: visible;
}

.mode-selector {
	padding: 1rem;
}

.mode-button {
	padding: 0.5rem 1rem;
	border: none;
	margin: 0 1rem;
	border-radius: 10px;
	background-color: transparent;
	color: #f3e8ff;
	box-shadow: 0 0 10px #9333ea;
	transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.mode-button:hover {
	color: white;
	background-color: #9333ea;
	transform: scale(1.05);
}

.mode-button.active {
	background-color: #7e22ce;
	color: white;
}
